.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.container {
  width: 80vw;
  height: 100vh;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.navbar {
  width: 20vw;
  height: 100vh;
  border: 1px solid black;
  background-color: rgb(254, 1, 1);
}
.posts {
  width: 25vw;
  height: 100vh;
  border: 1px solid black;
  background-color: aqua;
}
.profile {
  width: 18vw;
  height: 500px;
  border: 1px solid black;
  background-color: antiquewhite;
}
.userImg{
  width: 60px;
  height: 60px;
  margin-left: 7px;
  margin-right: 20px;
  background:linear-gradient(45deg, red, blue);;
  border-radius: 50%;
  
}
.sda{
  display: flex;
  padding: 7px;
}
.userFatherDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Switch{
  background-color: blue;
  border-radius: 20px;
  border: blue , none;
  height: 30px;
}